@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
    background-color: rgb(109, 119, 150);
}
header {
    background-color: rgb(102, 5, 5);
    color: white;
    padding: 15px 5px;
    text-align: center;
    border-bottom: 6px solid rgba(255, 80, 80, 0.35);
}

header nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.logo-area img {
  height: 5rem;
}
.contato {
    color: white;
    display: inline-block;
    padding: 1rem;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(66, 81, 134, 0.788);
    border-radius: 1rem;
}
.contato a {
    color: floralwhite;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border: 2px solid rgb(240, 243, 255);
    border-radius: 25px;
    display: inline-block;
    transition: all 0.3s ease;
}
.contato a:hover {
background: rgb(255, 240, 240);
color: rgba(255, 0, 0, 0.164);
transform: translateY(-2px);
}
