@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
    background-color: rgb(109, 119, 150);
}
header {
    background-color: rgb(102, 5, 5);
    color: white;
    padding: 15px 5px;
    text-align: center;
    border-bottom: 6px solid rgba(255, 80, 80, 0.35);
}

header nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.logo-area img {
  height: 5rem;
}

.card {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 25px;
  background-color: rgb(83, 96, 136);
  margin-top: 2rem;
  border-radius: 1rem;
}

h1, h2, h3, h4 {
    margin-bottom: 15px;
    color: var(--heading-color);
    font-weight: 600;
}

p {
    margin-bottom: 18px;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--accent-color-hover);
}