
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
    background-color: rgb(109, 119, 150);
}
header {
    background-color: rgb(102, 5, 5);
    color: white;
    padding: 25px 14px;
    text-align: center;
    border-bottom: 6px solid rgba(255, 80, 80, 0.35);
}

header nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.logo-area img {
  height: 5rem;
}
.resumo {
  color: white;
  text-align: center; 
  margin: 8rem;
  font-size: large;
  background-color: rgba(171, 204, 250, 0.607);
  border-radius: 1rem;
}